header h1{
	background: yellow;
	text-align: right;

}

h1{
	font-family: Times New Roman;
}
body{
	background: #999999;
	margin-right: 80px;
	margin-left: 80px;
	margin-bottom: 80px;
}
.index{
	position: right;
	background: white;
}

*{
	margin: 0;
}

nav ul{
	background: green;
	padding: 10px;
}
nav li{
	background: black;
	display: inline;
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 50px;
	text-align: center;
 	float: none
}

aside{
	display: inline-block;
	float: right;
	padding: 20px;
	height: 345px;
	background: white url("http://www.literarygenius.info/images/william-shakespeare.jpg") no-repeat;
	background-size: 170px 180px;
	background-position: 10px 170px;
	text-align: left;
}

footer{
	background: green;
	padding: 20px;
}

nav ul li a{
	text-decoration: none;
	color: white;
}

#content ul{
	text-align: center;
	list-style-type: none;

}
#content{
	background: gray;
}
