@media only screen and (min-width: 650px) {

.top-nav ul li{
	display: inline-block;
	padding-top: 10px;
}

.top-nav ul{
	text-align: center;
}
.descript{
    margin-top: 190px;
    margin-left: 100px;
    margin-right: 100px;

}
.row1 {
    margin-top: 200px;
    display: flex;
    margin-bottom: 250px;
}


iframe{
    position: absolute;
    margin-top: 5px;
    height: 600px;
    width:100%;
}

.logo{
	background-color: #211D24; /*CHANGE*/
	margin: 0;
	text-align: center;
	padding: 1em .10em;

	color: #1a1b29;
}
form{
    margin-top: 20px;
    margin-bottom: 50px;
}
p#contact{
    margin-top: -30px;
}
.container1 {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 180px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Palatino, sans-serif;
    font-size: 40px;
}
.centered1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Palatino, sans-serif;
    font-size: 26px;
    color: white;
    background-color: #aec6cf;
}

.content h3{
	margin-top: 0px;
}
#single .main-content h3{
	margin-top: -300px;
}

header, .logo {
    background-color: #eedad0;
	color: #1a1b29;
}

.responsive{
    width: 100%;
}


.main-content h3{
	font-size: 1.17em;
	text-align: center;
	margin-top: 0px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.column{
	width:33%;

}
img.dog{
	margin-top: 0px;
	padding-right:4px;
	width: 100%;

}
img.me{
	margin-top: 0px;
	padding-left:4px;
	width: 100%;

}

.column1{
    display: inline-flex;
    width: 30%;
    margin-left: 40px;
    text-align: center;
    font-color: red;
    border-style: round;
    padding: 10px;
    border-radius: 50px;
    background: #C0C0C0 ;
}
p.column1{
    color: red;
}
.column2{
    display: inline-flex;
    width: 30%;
    text-align: center;
    font-color: red;
    border-style: round;
    padding: 10px;
    border-radius: 50px;
    background: teal ;
}
.column3{
    display: inline-flex;
    width: 30%;
    margin-right: 40px;
    text-align: center;
    font-color: red;
    border-style: round;
    padding: 10px;
    border-radius: 50px;
    background: #C0C0C0 ;
}

}


@media only screen and (min-width: 1000px) {

.logo img{
    margin-top: 10px;
}
form{
    margin-top: 15px;
}



.descript{
    margin-top: 180px;

}


.main-content h3{
	font-size: 1.17em;
	text-align: center;
	margin-top: 0px;
}
.main-content .row{
	padding-top: 0px;
	width: 100%;
}
.column{
	width: 25%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

p#contact{
    margin-top: -35px;
}
.container1 {
    position: relative;
    text-align: center;
    color: white;
    margin-top:100px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Palatino, sans-serif;
    font-size: 50px;
}
.centered1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Palatino;
    font-size: 30px;
    color: white;
    background-color: #aec6cf;
}

.top-nav ul li{
	display: inline-block;
	padding-top: 1em;}


h1{
	color: #1a1b29;

}

.logo{
    background-color: #211D24; /*CHANGE*/
    margin: 0;
    text-align: center;
    padding: .1em .10em;
    color: #1a1b29;
}
header, .logo {
    background-color: #eedad0;
	color: black; 
}
img.dog{
	margin-top: 0px;
	padding-right:4px;
	width: 100%;

}
img.me{
	margin-top: 0px;
	padding-left:4px;
	width: 100%;

}
.column1{
    display: inline-flex;
    width: 33%;
    margin-left: 40px;
    text-align: center;
    font-color: red;
    border-style: round;
    padding: 10px;
    border-radius: 50px;
    background: #C0C0C0 ;
}
p.column1{
    color: red;
}
.column2{
    display: inline-flex;
    width: 33%;
    text-align: center;
    font-color: red;
    border-style: round;
    padding: 10px;
    border-radius: 50px;
    background: teal ;
}
.row1 {
    margin-top: 200px;
    display: flex;
    margin-bottom: 180px;
}
.column3{
    display: inline-flex;
    width: 33%;
    margin-right: 40px;
    text-align: center;
    font-color: red;
    border-style: round;
    padding: 10px;
    border-radius: 50px;
    background: #C0C0C0 ;
}
}


