@media only screen and (min-width: 650px) {

.top-nav ul li{
	display: inline-block;
	padding-top: 10px;
}

.top-nav ul{
	text-align: center;
}

.logo{
	background-color: #211D24; /*CHANGE*/
	margin: 0;
	text-align: center;
	padding: .1em .10em;
	color: #1a1b29;
}

header, .logo {
	background-color: #e3e3e3;
	color: #1a1b29;
}


.responsive {
        width: 100%;
    }

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

}

}


@media only screen and (min-width: 1000px) {

.responsive {
        width: 50%;
    }

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


.top-nav ul li{
	display: inline-block;
	padding-top: 1em;}

.top-nav ul{
	float: right;}
h1{
	color: #1a1b29;

}


.logo{
	display: inline-block;
	text-align: left;
	float: left;
	color: #1a1b29;
}
header, .logo {
	background-color: #e3e3e3;
	color: black; 
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
