/*-----MAIN-----*/
html {
  box-sizing: border-box;
}
html, body{
	height: 100%;
}
/*skip content*/
.skip{
	position: absolute;
	left: -999px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
	z-index: -999;
	color: #E3AD02;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}



/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
    position: relative;
    display: none;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}


.grid{
	display: flex;
	padding-top: 30px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
}

p{
	text-align: center;
	margin: 15px;
}
img.dog{
	padding-top: 50px;
	padding-right:4px;
	width: 100%;

}
img.me{
	padding-top: 50px;
	padding-left:4px;
	width: 100%;
}

a.skip:active, a.skip:focus, a.skip:hover {
    position:fixed;
    top: auto;
    left: auto; 
	width: auto; 
	height: auto; 
	overflow: visible;
	z-index: 999;
}
html, body, header{
    background-color: #008081;
    font-family: sans-serif; sans-serif;
    margin: 0;
    padding: 0;
}
header, .logo {
	background-color: #e3e3e3;
	color: black;
}
body{
	display: flex;
	flex-direction: column;
}
h1, h2, h3, h4, h5, h6{
	font-family: Georgia, sans-serif;
	color: #1a1b29;
}
p{
	font-family: Georgia, sans-serif;
}
h1{ 
	font-size: 1.75em;
	color: #1a1b29;
}
h2{
	font-size: 1.5em;
}
h3{
	font-size: 1.17em;
	text-align: center;
}
h4{
	font-size: 1.12em;
}
h5{
	font-size: .83em;
	text-align: center;
}
h6{
	font-size: .75em;
}
.main-content{
	margin-top: 110px;
}
.main-content h3{
	margin-top: 100px;
}
.about, .work, .crafts, .contact{
	margin: auto;
	padding-right: 3%;
	padding-left: 3%;
}

/*-----HEADER & NAVIGATION-----*/
header{
	font-family: Georgia, sans-serif;
	font-size: 105%;
    width: 100%;
    position: fixed;
    z-index: 1;
}
/*mobile-first*/
.top-nav ul{
	list-style-type: none;
	padding: 0;
	background-color: #e3e3e3; /*CHANGE*/
	margin: 0;
	display: block;
}
.top-nav ul li, .menu-icon{
	border-top: 1px solid black; /*CHANGE*/
}
.top-nav ul li a{
	font-size: 1em;
	color: black; /*CHANGE*/
	text-decoration: none;
	padding: .5em 1em .5em 1em;
	display: block;
	text-align: center;
}
.menu-icon a{
	font-size: 1em;
	color: black; /*CHANGE*/
	text-decoration: none;
	padding: .5em 1em;
	display: block;
	text-align: center;
}
.top-nav ul li a.current-page{
	color: black;
	font-weight: bold;
}
.top-nav ul li a.current-page:before {
  content: "\27A4  ";
  color: black;
  padding-right: 4px;
  position: relative;
  top: 1px;
}
.top-nav ul li a:hover, .menu-icon a:hover, .top-nav ul li a:focus, .menu-icon a:focus{
    background-color: #e3e3e3;
    color: red;
    font-weight: bold;
}
.top-nav ul li a:hover:before, .top-nav ul li a:focus:before{
    content: "\27A4  ";
  	color: red;
  	padding-right: 4px;
  	position: relative;
  	top: 1px;
}

.wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.wrapper iframe {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
}
/*implement menu toogle*/
.top-nav.toggle-open ul{
	display: block;
}

/*-----LOGO-----*/
.logo{
	background-color: #e3e3e3; /*CHANGE*/
	margin: 0;
	text-align: center;
	padding: .1em .1em;
	color: #1a1b29;

}


/*-----FOOTER-----*/


.icon{
	padding: .5em .25em 0;
	height: 25px;
}

footer {
 position: fixed;
 bottom: 0;
 width: 100%;
}
footer p{
	padding-top: .5em;
	padding-bottom: .75em;
	color: red;
	text-align: center;
}

/*-----HOMEPAGE-----*/
.main-content-home{
	margin-top: 250px;
}
.home-flag{
	background-color: #e3e3e3;
	color: #DDDDDA;
	display: flex;
	flex-direction: column;
	max-width: 300px;
	margin: auto;
	padding: 1.5em;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}


.img{
	z-index: -1;
}
.column img {
    margin-top: 8px;
    vertical-align: middle;
}



